<!--include header-->
    <%-include('include/_header') %>
<!--/include header-->

    <!--Corpo do Site-->
    <main id="site-main">
        <div class="container">
           <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left">Voltar</i></a>
            </div>
            </a>
           </div>
           <div class="form-title text-center">
            <h2 class="text-dark">Novos Produtos</h2>
            <span class="text-light">Adicione Novos produtos no formulario abaixo</span>
           </div>
<!--include footer-->
    <%-include('include/_form') %>
<!--/include footer-->
        </div>
    </main>

    <!--/Corpo do Site-->

<!--include footer-->
    <%-include('include/_footer') %>
<!--/include footer-->
