                   <tr>
                        <td>1</td>
                        <td>Nestle</td>
                        <td>Suco</td>
                        <td>13</td>
                        <td>22,50</td>
                        <td>
                            <a href="updateprod" class="btn border-shadow update">
                            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>
                            <a class="btn border-shadow delete">
                            <span class="text-gradient"><i class="fas fa-times"></i></span>
                            </a>
                        </td>
                    </tr>
